[package]
name = "repository"
version = "0.1.0"
edition.workspace = true

[dependencies]
anyhow = { workspace = true }
model = { path = "../model" }
sqlx = { workspace = true, features = ["macros", "migrate", "runtime-tokio", "sqlite"] }
